/*
CSS
*/

.a-text {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 2em 0;
    padding: 1em;
}


#score-bg {
 display: block;
  width: 1vw;
  height: 1vh;
  border-style: solid;
  border-width:  0 0 200px 201px; 
  border-color: transparent #FAEBD7 transparent; 
  position: fixed;
  top: -10px;
  left: 0;
  z-index: 1;
}


#score-bg strong {
    position: absolute;
    left: -200px;
    padding: 1.5em 1em;
    font-size: 1.3em;
    font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
    font-weight: 200;
    line-height: 1.1;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#score {
    font-size: 2em;
}


progress {
    background-color: #ddd;
    position: fixed;
    z-index: 1;
    transform-origin: top right;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    right: 5vh;
    margin: 10vh 0;
    width: 80vh;
}
progress::-webkit-progress-value { background: #ddd; }
progress::-moz-progress-bar { background: #ddd; }
progress { color: #ddd; }

#airSymbol {
    color: #ddd;
    position: fixed;
    z-index: 1;
    right: 2.5vh;
    font-family: Arial;
    font-weight: 900;
    font-size: 2em;
    margin: 3vh 0;
}

#question {
    z-index: 3;
    position: fixed;
    opacity: 0;
    transition: opacity 7s; 
    text-align: center;
    color: white;
    top: 45%;
    font-family: arial;
    padding: 0;
    margin: 0;
    width: 96%;
    font-size: 1.3em;
    padding: 0 2%;
    transform-origin: center center;
}

#question a {
    color: burlywood;
}

#blackout input {
    z-index: 10;
}

#blackout {
    background-color: black;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    opacity: 0;
    pointer-events:none;
    opacity: 0;
    transition: opacity 7s; 
}

#eye {
    width: 2vh;
    z-index: 1;
}
